{% extends 'base.html' %}

{% block title %}Companies{% endblock %}

{% block content %}
    <h1>Companies</h1>
    <ul>
        {% for company in companies %}
            <li><a href="{{ url_for('company', company_id=company.id) }}">{{ company.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>